.wr_footer{
  position : fixed;
  bottom : 0rem;
  border-top : 1px solid lightgrey;
  width: 100%;
}

.wr_footer_bar{
  margin: 1rem 0rem 1rem 0rem;
}

.grid{
  display: flex;

}

.grid-cell{
  flex:1;
}

.grid-cell .center{
  text-align: center;
}


