<!--<div class="col-xs-12 wr_footer">
  <button class="col-xs-3 wr_footer_bar" (click)="login()"><span class="glyphicon glyphicon-adjust"></span></button>
  <button class="col-xs-3 wr_footer_bar">12</button>
  <button class="col-xs-3 wr_footer_bar">12</button>
  <button class="col-xs-3 wr_footer_bar">12</button>
</div>-->

<hr>
<div class="grid">
  <div class="grid-cell">
  1
  </div>
  <div class="grid-cell">
  1
  </div>
  <div class="grid-cell center">
    <md-icon (click)="gotoUserPage()" class="material-icons md-36">&#xE7FD;</md-icon>
  </div>
</div>

